@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Muli:wght@400;500&display=swap");
body{
background-color: var(--background-color);
font-family: "Baloo Bhai 2", cursive;
}
body{
    background-color: var(--backround-color);
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: var(--background-color);
}

.gallery .box {
    height: 200px;
    width: 300px;
    margin: 20px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 3px 5px #000;

}

.gallery .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .box img:hover {
    transform: scale(1.4);
}


